<%-include("header")%>
<link rel="stylesheet" href="/stylesheets//setting.css">

<body>
    <!-- 	<div class="blog">Visit <a href="#" target="_blank">My Blog</a></div> -->
    <div class="container">
        <div class="settings">
            <div class="head">
                <figure class="photo">
                    <img src="https://picsum.photos/g/80/80" />
                </figure>
                <div class="user_info">
                    <h2>username</h2>
                </div>
                <span class="alink close">
                    <i class="far fa-times-circle"></i>
                </span>
            </div>
            <div class="body">
                <dl class="setting">
                    <dd>

                        <li class="setting_item">
                            <i class="fas fa-user-friends"></i>
                            <span class="item_options">Contact us</span>
                            <span class="alink">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </li>



                    </dd>
                    <dd>
                        <li class="setting_item">
                            <i class="fas fa-shield-alt"></i>
                            <span class="item_options"><a href="/reset">reset password</a></span>
                            <span class="alink">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </li>

                        <li class="setting_item">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="item_options"><a href="/signout">sign out</a></span>
                            <span class="alink">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </li>
                        <div class="back"><a href="/backout"><i class="ri-arrow-left-circle-fill"></i></a></div>

                    </dd>
                </dl>
            </div>
        </div>
    </div>
   
</body>

<%-include("footer")%>
